.friends__background{
    background: #F6F6F6;
    height: 877px;
    position: relative;
    @media(max-width: 767px){
        height: 791px;
    }
}
.friends{
    text-align: center;    
}
.friends__heading{
    font-family: $primary-font;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;   
    color: $dark-grey-color;
    margin-left: 2px;  
    padding-top: 81px; 
    @media(max-width: 767px){
        font-size: 25px;
        padding-top: 42px; 
        line-height: 130%;       
    }
}
.slider{
    display: flex;
    justify-content: space-between;    
    position: relative;    
    width: 990px;
    // width: 100%;
    overflow: hidden;   
    margin: 59px auto 60px auto; 
    
    @media(max-width: 1279px){
        max-width: 630px;
    }
    @media(max-width: 767px){
        max-width: 270px;
        margin: 40px auto 114px auto;
    }
}
.swiper-wrapper{    
    width: 100%;
    height: 100%;
    // z-index: 1;
    display: flex;
    transition-property: transform;
    justify-content: space-between;    
    // gap: 0 90px;
    margin: 0 auto;   
        
}
.slider__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;;
    height: 435px;
    max-width: 270px;
    &:hover{
        cursor: pointer;
        background: $secondary-color;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        .slider__button{
            background: #FDDCC4;
            border: none;
        }
    }
}
.slider__img{
    max-width: 100%;
}
.slider__name{
    font-family: $primary-font;
    color: #545454;
    font-size: 20px;
    letter-spacing: 0.06em;
    font-weight: 400;
    padding: 22px 0 30px 2px;    
}
.slider__button{
    font-family: $primary-font;
    color: #292929;
    font-size: 17px;
    letter-spacing: 0.06em;
    font-weight: 400;
    line-height: 130%;
    border: 2px solid $pinky-color;
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;    
    padding-left: 8px;
    letter-spacing: 0.05em;   
}
.friends__button-left{
    position: absolute;    
    // left: -10.5%;
    left: 1px;
    // top: -50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 52px;
    height: 52px;
    border: 2px solid $pinky-color;
    box-sizing: border-box;
    border-radius: 100px;
    padding-bottom: 5px;
    
    display: block;
    &:hover{
        background:#FDDCC4;
        border: none;
    }
    @media(max-width: 1279px){
        // left: -11%;
        left: 1px;

    }
    @media(max-width: 767px){
        // left: 43px;
        left: 1px;
        // top: 480px;
        top: 50%;
    }
}
.friends__button-right{
    position: absolute;    
    left: 938px;
    // left: 105.5%;
    // top: -50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 52px;
    height: 52px;
    border: 2px solid $pinky-color;
    box-sizing: border-box;
    border-radius: 100px;
    padding-bottom: 5px;
    
    display: block;
    &:hover{
        background:#FDDCC4;
        border: none;
    }
    @media(max-width: 1279px){
        // left: 102%;
        left: 575px;
    }
    @media(max-width: 767px){
        // left: 175px;
        left: 215px;
        // top: 480px;
        top: 50%;
    }
}
.friends__button_main{
    margin: 0 auto;
    background: $pinky-color;
    border-radius: 100px;
    width: 261px;
    height: 52px;   
    padding: 15px 0px 15px 0px;  
    & a{
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;     
        letter-spacing: 0.06em;       
        color: #292929;    
    }
    &:hover{
        background: #FDDCC4;
    }
}