.header__background{
    // background: url('../imgs/background1.png') center/cover;
    // background: url('../imgs/gradient1.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
    background: url('../imgs/start-screen-gradient-background.png') center/cover;
    padding-top: 40px;
    @media(max-width: 1279px){
        padding-top: 10px;
    }
    @media(max-width: 767px){
        padding-top: 10px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 23px;
    align-items: center;
    @media(max-width: 767px){
        // align-items: center;
    }
}
.header__logo{
    
}
.header__title{
    font-family: $primary-font;
    color: $pinky-color;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.06em;
    line-height: 110%;
    padding-bottom: 5px;    
}
.header__subtitle{
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 13px;
    letter-spacing: 0.1em;
    padding-left: 5px;
}
.header__blackout{
    @media(max-width: 767px){  
        z-index: 10;  
        transition: all 1s ease;
        position: fixed;
        background: rgba(41, 41, 41, 0.6);
        top: 0;
        right: -100%; 
        height: 100vh;
        width: 100vw;       
    }
}
.header__blackout.active{
    @media(max-width: 767px){ 
        right: 0px;
        transition: all 1s ease;        
    }
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 767px){  
        flex-direction: column;       
        position: fixed;
        right: -100%;  
        top: 0px; 
        transition: all 1s ease;
        z-index: 99;                      
        background-color: #292929;        
        height: 100vh;
        width: 320px; 
        align-items: flex-start;
        justify-content: flex-start;            
    }     
}
.header__nav.active{
    @media(max-width:767px){
        right: 0px;
        transition: all 1s ease;
    }   
}
.header__logo-burger{
    display: none;
    @media(max-width:767px){
        display: block;
        padding-top: 30px;
        padding-bottom: 167px;
        padding-left: 10px;
    }   
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px; 
    @media(max-width: 1279px){        
        padding-bottom: 10px;
    }
    @media(max-width: 767px){                          
        flex-direction: column;           
        align-items: center; 
        height: 327px; 
        
    }
}
.nav__item{
    margin-left: 36px;
    @media(max-width: 767px){ 
        padding-bottom: 62px;
    }
}
.nav__item a{
    font-family: $secondary-font;
    font-size: 15px;
    color: $grey-color;
    scroll-behavior: smooth;
    &:hover{
        color: $secondary-color;
    }
    @media(max-width:767px){
        font-size: 32px;
    }
}
.nav__item > a.active{    
    color: #FAFAFA;
    font-family: $secondary-font;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    
    &::after{
        content: '';
        border: 2px solid $pinky-color;
        position: absolute;
        width: 110px;
        top: 20px;
        left: 0;
        @media(max-width:767px){
            width: 243px;
            top: 40px;            
        }
    }
    @media(max-width:767px){
        font-size: 32px;
    }
}
.nav__burger{
    display: none;

    @media(max-width: 767px){
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 43px;
        cursor: pointer;
        margin-top: 15px;
        transition: all 1s ease;
        margin-bottom: 12px;
        z-index: 999;
    }
}
.nav__burger.active{
    transform: rotate(90deg);
}

// ------------------------------------------------------
.header__intro{
    display: flex;
    justify-content: space-between; 
    padding-top: 60px; 
    @media(max-width: 1279px){
        flex-direction: column;
        align-items: center;
        padding-top: 58px;
    }   
    @media(max-width: 767px){ 
        padding-top: 56px; 
    }  
}  
.header__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 41.5%;
    @media(max-width: 1279px){
        // max-width: 90%;
        padding-bottom: 100px;
        max-width: 480px;
        // margin: 0 auto;
    }  
    @media(max-width: 767px){
        text-align: center;
        max-width: 300px;
    }
}
.header__heading{
    font-family: $primary-font;
    color: $secondary-color;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;    
    font-weight: 400;
    max-width: 70%;
    line-height: 130%;
    padding-top: 163px;
    @media(max-width: 1279px){
        padding-top: 0px;
        margin-left: 10px;
    }   
    @media(max-width: 767px){
        font-size: 25px;
        margin: 0 auto;
        letter-spacing: 0.06em; 
        padding-left: 3px;           
    }
}   

.header__subheading{
    font-family: $secondary-font;
    color: $grey-color;
    font-size: 15px;
    line-height: 160%;
    max-width: 95%;
    padding: 41px 0;
    @media(max-width: 1279px){        
        margin-left: 10px;
        max-width: 100%;
    } 
    @media(max-width: 767px){
        font-size: 15px;
        margin: 0 auto;        
    }
}
.header__button{
    padding: 15px 0px 15px 45px;
    width: 207px;
    height: 52px;
    background: $pinky-color;
    border-radius: 100px;
    & a{
        font-family: $primary-font;
        font-size: 17px;
        color: #292929;
        letter-spacing: 0.06em;
    }
    &:hover{
        background: #FDDCC4;
    }
    @media(max-width: 1279px){
        margin: 0 auto;
    }
    @media(max-width: 767px){
        padding: 15px 0px;
        text-align: center;
        margin-bottom: 6px;
    }
}   
.header__img{
    max-width: 58.5%;    
     
    @media(max-width: 1279px){        
        margin-right: 15px; 
        max-width: 58.5%;   
    } 
    @media(max-width: 767px){
        max-width: 65%; 
        // max-width: 260px; 
        margin-right: 25px; 
    }
}
.header__img img{
    display: block;    
    @media(max-width: 1279px){        
        max-width: 569px;
        max-height: 593px;       
    } 
    @media(max-width: 767px){
        max-width: 260px;
        max-height: 271.77px;       
    }
}