.help{
    text-align: center;    
}
.help__heading{
    font-family: $primary-font;
    font-size: 35px;
    font-weight: 400;    
    line-height: 45px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    color: $dark-grey-color;
    max-width: 30%;   
    padding: 81px 0 59px 2px;
}
.help__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    margin: 0 auto;
    gap: 56px 118px;
    margin-bottom: 98px;
}
.help__item{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.help__item img{
    padding-bottom: 23px;
}
.help__text{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding-left: 2px;
}