@import './main/vars.scss';

.modal{
    background: rgba(41, 41, 41, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__close-button{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 890px;
    top: -52px;
    border: 2px solid #F1CDB3;    
    border-radius: 100px;
    &:hover{
        background: #FDDCC4;
        border: none;
    }
    @media(max-width: 1279px){
        left: 620px;
        top: -52px;
    }
    @media(max-width: 767px){
        left: 215px;
        top: -52px;
    }
}
.modal__window{
    position: relative;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    margin-top: 52px;  
    @media(max-width: 1279px){
        width: 630px;
        height: 350px;
    }
    @media(max-width: 767px){
        width: 240px;
        height: 341px;
    }
}
.modal__img{
    display: block;
    @media(max-width: 767px){
        display: none;
    }
}
.modal__content{
    display: flex;
    flex-direction: column;    
    justify-content: left;
    padding-left: 30px;
    padding-right: 16px;
    @media(max-width: 1279px){
        padding-left: 10px;
        padding-right: 5px;
    }
}
.modal__heading{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;   
    letter-spacing: 0.06em;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 8px;
    @media(max-width: 1279px){
        font-size: 35px;
        padding-top: 10px;
    }
    @media(max-width: 767px){
        text-align: center;
    }
}
.modal__subheading{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;   
    letter-spacing: 0.06em;
    color: #000000;
    padding-bottom: 41px;
    @media(max-width: 1279px){
        font-size: 20px;
        padding-bottom: 22px;
    }    
    @media(max-width: 767px){
        text-align: center;
    }
}
.modal__description{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    line-height: 17px;   
    letter-spacing: 0.06em;
    color: #000000;
    padding-bottom: 40px;
    @media(max-width: 1279px){
        font-size: 13px; 
        line-height: 110%; 
        padding-bottom: 18px;
    }
    @media(max-width: 767px){
        text-align: justify;
    }
}
.modal__list{
    padding-left: 5px;
}
.list__item{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;  
    letter-spacing: 0.06em;
    color: #000000;
    padding-left: 10px;
    padding-bottom: 11px;
    position: relative;
    &:before{
        content: url('../imgs/dot.svg');
        bottom: 50%;
        right: 100%;
        position: absolute;        
    }
    @media(max-width: 1279px){
        padding-bottom: 5px;
    }
}    