.donation__background 
    .container.donation 
        .donation__content
            .dontation__img
                img(src="./assets/imgs/donation-dog.png", alt="dog")
            .donation__info 
                h3.donation__heading You can also <br/> make a donation                
                p.donation__subheading Name of the bank / Type of bank account
                .donation__card 
                    img.donation__icon(src="./assets/imgs/credit-card.svg", alt="dog")
                    p.donation__number 
                        a(href="##") 8380 2880 8028 8791 7435
                p.donation__text Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.


        