footer
    .container.footer__container 
        .footer__content
            .footer__contacts.contacts            
                h3.contacts__title For questions and suggestions
                .contacts__email 
                    img(src="./assets/imgs/mail.svg", alt="email")
                    p.email__text email@shelter.com            
                .contacts__phone
                    img(src="./assets/imgs/phone.svg", alt="phone")
                    p.phone__text +13 674 567 75 54
            .footer__locations.locations
                h3.locations__title We are waiting for your visit
                .locations__boston 
                    img(src="./assets/imgs/icon-marker.svg", alt="email")
                    p.locations__text 1 Central Street, Boston (entrance from the store)            
                .locations__london 
                    img(src="./assets/imgs/icon-marker.svg", alt="phone")
                    p.locations__text 18 South Park, London
            .footer__img 
                img(src="./assets/imgs/footer-puppy.png", alt="puppy")

        
