.friends__background.modal_background
    .container.friends 
        h3.friends__heading(id='friends') Our friends who <br/> are looking for a house
        .friends__swiper_container                                     
            .friends__slider.swiper
                .swiper-wrapper
                    .swiper-slide.swiper__card(id="Katrine")
                        .swiper__img 
                            img(src="./assets/imgs/pets-katrine.png", alt="cat")
                        p.swiper__name Katrine
                        button.swiper__button Learn more
                    .swiper-slide.swiper__card(id="Jennifer")
                        .swiper__img 
                            img(src="./assets/imgs/pets-jennifer.png", alt="puppy")
                        p.swiper__name Jennifer
                        button.swiper__button Learn more
                    .swiper-slide.swiper__card(id="Woody")
                        .swiper__img 
                            img(src="./assets/imgs/pets-woody.png", alt="dog")
                        p.swiper__name Woody
                        button.swiper__button Learn more
                    .swiper-slide.swiper__card(id="Sophia")                            
                        .swiper__img 
                            img(src="./assets/imgs/pets-sophia.png", alt="sophia")
                        p.swiper__name Sophia
                        button.swiper__button Learn more 
                    .swiper-slide.swiper__card(id="Timmy")
                        .swiper__img 
                            img(src="./assets/imgs/pets-timmy.png", alt="timmy")
                        p.swiper__name Timmy
                        button.swiper__button Learn more 
                    .swiper-slide.swiper__card(id="Charly") 
                        .swiper__img 
                            img(src="./assets/imgs/pets-charly.png", alt="charly")
                        p.swiper__name Charly
                        button.swiper__button Learn more 
                    .swiper-slide.swiper__card(id="Scarlett") 
                        .swiper__img 
                            img(src="./assets/imgs/pets-scarlet.png", alt="scarlet")
                        p.swiper__name Scarlett
                        button.swiper__button Learn more 
                    .swiper-slide.swiper__card(id="Freddie")
                        .swiper__img 
                            img(src="./assets/imgs/pets-freddie.png", alt="freddie")
                        p.swiper__name Freddie
                        button.swiper__button Learn more 
            button.friends__button-left.swiper-button-prev 
                img(src='./assets/imgs/arrow-left.svg', alt='left')
            button.friends__button-right.swiper-button-next
                img(src='./assets/imgs/arrow-right.svg', alt='right') 
        .friends__button_main
            a(href='./pets.html') Get to know the rest
    .modal 
        .modal__window 
            button.modal__close-button
                img(src="./assets/imgs/vector.svg", alt="close")
            img.modal__img(src="./assets/imgs/pets-jennifer-modal.png", alt="puppy")
            .modal__content
                p.modal__heading(id="name") Jennifer
                p.modal__subheading(id="type") Dog - Labrador
                p.modal__description(id="description") Jennifer is a sweet 2 months old Labrador that is patiently waiting to find a new forever home. This girl really enjoys being able to go outside to run and play, but won't hesitate to play up a storm in the house if she has all of her favorite toys.
                ul.modal__list 
                    li.list__item1(id="age") <b>Age:</b> 2 months
                    li.list__item2(id="inoculations") <b>Inoculations:</b> none
                    li.list__item3(id="diseases") <b>Diseases:</b> none
                    li.list__item4(id="parasites") <b>Parasites:</b> none    