.friends__background 
    .container.friends 
        h3.friends__heading1 Our friends who 
        h3.friends__heading2 are looking for a house                             
        .friends__slider.slider
            .slider__card 
                .slider__img 
                    img(src="./assets/imgs/pets-katrine.png", alt="cat")
                p.slider__name Katrine 
                button.slider__button Learn more
            .slider__card 
                .slider__img 
                    img(src="./assets/imgs/pets-jennifer.png", alt="puppy")
                p.slider__name Jennifer
                button.slider__button Learn more
            .slider__card 
                .slider__img 
                    img(src="./assets/imgs/pets-woody.png", alt="dog")
                p.slider__name Woody
                button.slider__button Learn more
            button.friends__button-left 
                img(src='./assets/imgs/arrow-left.svg', alt='left')
            button.friends__button-right
                img(src='./assets/imgs/arrow-right.svg', alt='right') 
        .friends__button_main
            a(href='./pets.html') Get to know the rest