.header__background 
    .header__container.container
        header.header 
            .header__logo
                a(href="##") 
                    h1.header__title Cozy House
                p.header__subtitle Shelter for pets in Boston
            nav.header__nav 
                ul.nav 
                    li.nav__item 
                        a.active(href='#') About the shelter
                    li.nav__item 
                        a(href='./pets.html') Our pets
                    li.nav__item 
                        a(href='#help') Help the shelter
                    li.nav__item 
                        a(href='#contacts') Contacts
        section.header__intro        
            .header__text 
                h2.header__heading Not only people need a house
                .header__subheading We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!
                .header__button 
                    a(href='#friends') Make a friend
            .header__img
                img(src='./assets/imgs/puppy-main.png', alt='alt')
                
