.container.help 
    h3.help__heading How you can help our shelter
    .help__list
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-pet-food.svg", alt="food")
            p.help__text Pet food
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-transportation.svg", alt="transportation")
            p.help__text Transportation
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-toys.svg", alt="toys")
            p.help__text Toys
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-bowls-and-cups.svg", alt="bowls")
            p.help__text Bowls and cups
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-shampoos.svg", alt="shampoos")
            p.help__text Shampoos
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-vitamins.svg", alt="vitamins")
            p.help__text Vitamins
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-medicines.svg", alt="medicines")
            p.help__text Medicines
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-collars-leashes.svg", alt="colars")
            p.help__text Collars / leashes
        .help__item 
            .help__img 
                img(src="./assets/imgs/icon-sleeping-area.svg", alt="areas")
            p.help__text Sleeping areas