header.pets-header
    .container.header-pets
        .header__logo-pets
            a(href="./index.html") 
                h1.header__title-pets Cozy House
            p.header__subtitle-pets Shelter for pets in Boston
        nav.header__nav-pets
            ul.nav-pets 
                li.nav__item-pets
                    a(href='./index.html') About the shelter
                li.nav__item-pets 
                    a.active-pets(href='#') Our pets
                li.nav__item-pets
                    a(href='/index.html#help') Help the shelter
                li.nav__item-pets 
                    a(href='#contacts') Contacts