.pets__background 
    .container.pets 
        h2.pets__heading Our friends who <br/> are looking for a house
        .pets__cards 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-katrine.png", alt="katrine")
                .card__name Katrine 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-jennifer.png", alt="jennifer")
                .card__name Jennifer 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-woody.png", alt="woody")
                .card__name Woody 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-sophia.png", alt="sophia")
                .card__name Sophia 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-timmy.png", alt="timmy")
                .card__name Timmy
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-charly.png", alt="charly")
                .card__name Charly 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-scarlet.png", alt="scarlet")
                .card__name Scarlett 
                button.card__button Learn more 
            .pets_card.card 
                .card__img 
                    img(src="./assets/imgs/pets-freddie.png", alt="freddie")
                .card__name Freddie 
                button.card__button Learn more     
        .pets__navigation
            button.navigation__button 
                img(src="./assets/imgs/fast-left.svg", alt="left") 
            button.navigation__button 
                img(src="./assets/imgs/left.svg", alt="left")
            button.navigation__button 1
            button.navigation__button  
                img(src="./assets/imgs/right.svg", alt="right")
            button.navigation__button 
                img(src="./assets/imgs/fast-right.svg", alt="right") 