doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/app.css")
    body 
        .modal 
            .modal__window 
                button.modal__close-button
                    img(src="./assets/imgs/vector.svg", alt="close")
                img.modal__img(src="./assets/imgs/pets-jennifer-modal.png", alt="puppy")
                .modal__content
                    h3.modal__heading Jennifer
                    p.modal__subheading Dog - Labrador
                    p.modal__description Jennifer is a sweet 2 months old Labrador that is patiently waiting to find a new forever home. This girl really enjoys being able to go outside to run and play, but won't hesitate to play up a storm in the house if she has all of her favorite toys.
                    ul.modal__list 
                        li.list__item <b>Age:</b> 2 months
                        li.list__item <b>Inoculations:</b> none
                        li.list__item <b>Diseases:</b> none
                        li.list__item <b>Parasites:</b> none