@import "./vars.scss";

html{
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 400;   
    line-height: 160%;
    color: $primary-color;
    background: $secondary-color;  
    scroll-behavior: smooth; 
    
}
.container{
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    @media(max-width: 1279px){
        max-width: 1279px;
        padding: 0 30px;
    }
    @media(max-width: 767px){
        max-width: 767px;
        padding: 0 10px;
    }
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
body.active{
    overflow-y:  hidden;
}

